html {
	color-scheme: light dark;

	--brand: light-dark(var(--indigo-6), var(--indigo-6));
	--text-1: light-dark(var(--gray-11), var(--gray-1));
	--surface-1: light-dark(var(--stone-2), var(--gray-12));
	--surface-2: light-dark(var(--stone-3), var(--gray-8));
	--link: light-dark(var(--indigo-10), var(--indigo-3));

	--surface-shadow: var(--gray-8-hsl);

	--shadow-strength-dark: 80%;
	--shadow-strength-light: 2%;
}

:root {
	--shadow-strength: var(--shadow-strength-dark);
}

@media (prefers-color-scheme: light) {
	:root {
		--shadow-strength: var(--shadow-strength-light);
	}
}

[color-scheme='dark'] {
	color-scheme: dark;
	--shadow-strength: var(--shadow-strength-dark);
}

[color-scheme='light'] {
	color-scheme: light;
	--shadow-strength: var(--shadow-strength-light);
}

body,
html {
	height: 100svh;
	font-family: var(--font-sans);
}

html {
	color: var(--text-1);
	accent-color: var(--brand);
	background-color: var(--surface-2);
}

button {
	padding: 0;
	display: grid;
	place-items: center;
	background-color: var(--surface-1);
	color: var(--text-1);
	aspect-ratio: var(--ratio-square);

	&:disabled {
		opacity: 0.3;
	}
}

/* section dividers */
.metronome > :not(:last-of-type) {
	border-bottom: var(--border-size-2) solid;
	border-color: var(--surface-2);
}
